<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Tipe:</strong>
  <%= @move.tipe %>
</p>

<p>
  <strong>Power:</strong>
  <%= @move.power %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
